<div class="about-section">
<br>
 <h1 style="text-align:center"><b>ABOUT US</b></h1>
  <br>
  <h3 style = "color:#5F9EA0"><i><b>Raised in the heart of agrarian India</i></h3>
</b><br>
<p style="text-align:center">
Many of us at Vibrant Living were and still are village kids at heart. Growing up surrounded by lush crops changing with the seasons, feeling the connection with soil, weather, water and the food that you eat.<br>
And the foods that we ate - naturally farmed, locally sourced and made at home in the traditional ways by mothers, aunts and grandmas. And sometimes helped by dads and uncles too. <br><br>

Oh! And did we mention love? Yes, that helped a whole lot too!.</p><br>
 <h3 style = "color:#5F9EA0"><i><b>Steeped in the spirit of sustainable lifestyles</i></h3>
</b><br>
<p style="text-align:center">
  Spending summers with grandparents, riding on bullock carts through villages and into fields, watching centuries old farming practices, holidaying with self-sustaining rural communities - All these and more experiences ingrained in us a deep respect and faith in the values of intergenerational wisdom and the interconnectedness of nature, individuals and communities. <br><br>

We like to think it is this awareness and orientation that instantly re-connected us to the ever burgeoning movement of healthy, wholistic and sustainable living since the last several decades.
 </p>
</div><br>
<h3 style = "color:#5F9EA0"><i><b>Leading to lifetime journeys in wholistic wellbeing</i></h3>
</b><br>
<p style="text-align:center">
  Such deeply personal childhood experiences gravitated us towards lifetime journeys and careers in health and wholistic wellbeing.<br>

The core team of Vibrant Living and especially the founder Sridevi have over the last three decades, steered her life course of education and career focused on wholistic nutrition and wellbeing.<br><br>

While pursuing her master's in at the University of Toronto in Canada, Sridevi has taken an irrevocable turn towards a wholistic lifestyle - be it food, fitness,  travel or  natural birth to name a few. <br><br>
 </p>
</div><br><br>

<h1 style="text-align:center"><b>Our Team</b></h1>
<br>
<div class = "container">
   
  <div class="row m-0">
  <div class="col-4 px-0">
    <img src="/assets/client.jpg"  style="width:100%"  >
    <br>
     <h2>Aki Varma</h2>
        <p class="title">CEO & Founder</p>
        <p>awesomeakito@gmail.com</p>
  </div>
  <div class="col-4 px-0">
    <img src="/assets/client.jpg"  style="width:100%">
    <br>
     <h2>Chinni Akula </h2>
        <p class="title">Team Manager</p>
        <p>livelybowls@gmail.com</p>
  </div>
  <div class="col-4 px-0">
    <img src="/assets/client.jpg"  style="width:100%">
    <br>
     <h2>Sravya Barla </h2>
        <p class="title">Team Member</p>
        <p>sravyabrl@gmail.com</p>
  </div>
  </div>
  
</div>
